@import "tailwindcss/preflight";
@import "tailwindcss";


body {
  background: radial-gradient(circle at top, #0f2454, #071a3a);
  min-height: 100vh;
  font-family: sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
margin: 2%;
margin-top: 2%;
    margin-right: 0px;
    margin-bottom: 3%;
    margin-left: 2%;

    padding: 2%;
    padding-top: 3%;
    padding-right: 0px;
    padding-bottom: 3%;
    padding-left: 2%;
}

