.login-bg {
  min-height: 100vh;
  background-image: url("https://images.alphacoders.com/135/thumb-1920-1352220.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}


.login-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
}


.login-box {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.55);
  padding: 40px;
  border-radius: 20px;
  max-width: 380px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 50px rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
}


.login-box h1 {
  color: white;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: bold;
}


.login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  background: rgba(255,255,255,0.1);
  color: white;
  font-size: 16px;
  outline: none;
}

.login-box input::placeholder {
  color: rgba(255,255,255,0.6);
}


.login-box button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  background: #ff3b3b;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-box button:hover {
  background: #ff1f1f;
}


.error-text {
  color: #ff8a8a;
  font-weight: bold;
  margin-bottom: 15px;
}
